@using Resume.Bussines.Extensions
@using Resume.Bussines.Convertor
@using Resume.DAL.ViewModels.Education
@model FilterEducationViewModel

@{
    ViewData["Title"] = "لیست تصحیلات من";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <div class="card">
            <div class="header">
                <h2>
                    فیلتر ها
                </h2>
            </div>
            <div class="body">
                <form asp-area="Admin" asp-controller="Education" asp-action="List" method="get" id="filter-search">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row clearfix">
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" asp-for="Title" class="form-control">
                                    <label asp-for="Title" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" asp-for="StartDate" class="form-control">
                                    <label asp-for="StartDate" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" asp-for="EndDate" class="form-control">
                                    <label asp-for="EndDate" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-success">جستجو</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>@ViewData["Title"]</strong>
                </h2>
            </div>
            <div class="body table-responsive">
                @if (Model.Entities != null && Model.Entities.Any())
                {
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>آیدی</th>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>تاریخ شروع</th>
                                <th>تاریخ پایان</th>
                                <th>تاریخ ثبت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var education in Model.Entities)
                            {
                                <tr>
                                    <th scope="row">@education.Id</th>
                                    <td>@education.Title</td>
                                    <td>@education.Description</td>
                                    <td>@education.StartDate.ToShams()</td>
                                    <td>
                                        @if (@education.EndDate.HasValue)
                                        {
                                            @education.EndDate.Value.ToShams()
                                        }
                                        else
                                        {
                                            <div class="badge col-green">در حال ادامه تحصیل هستم</div>
                                        }
                                    </td>
                                    <td>@education.CreateDate.ToShamsi()</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Education" asp-action="Update" asp-route-id="@education.Id" class="text-warning">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />
                }
                else
                {
                    <partial name="_AdminNotFound" />
                }
            </div>
        </div>
    </div>
</div>

