@using Resume.DAL.ViewModels.Activity
@using Resume.Bussines.Extensions
@model FilterActivityViewModel

@{
    ViewData["Title"] = "لیست فعالیت های من";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <div class="card">
            <div class="header">
                <h2>
                    فیلتر ها
                </h2>
            </div>
            <div class="body">
                <form asp-area="Admin" asp-controller="Activity" asp-action="List" method="get" id="filter-search">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row clearfix">
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" asp-for="Title" class="form-control">
                                    <label asp-for="Title" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-success">جستجو</button>
                            @if (Context.Request.QueryString.HasValue)
                            {
                                <a asp-area="admin" asp-controller="Activity" asp-action="List" class="btn btn-raised btn-primary btn-round waves-effect">حذف فیلتر</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>@ViewData["Title"]</strong>
                </h2>
            </div>
            <div class="body table-responsive">
                @if (Model.Entities != null && Model.Entities.Any())
                {
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>آیدی</th>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>ایکون ها</th>
                                <th>عرض ستون آیتم</th>
                                <th>تاریخ ثبت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Entities)
                            {
                                <tr>
                                    <th scope="row">@user.Id</th>
                                    <td>@user.Title</td>
                                    <td>@user.Description</td>
                                    <td>@user.Icon</td>
                                    <td>@user.ColumnLg</td>
                                    <td>@user.CreateDate.ToShamsi()</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Activity" asp-action="Update" asp-route-id="@user.Id" class="text-warning">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />
                }
                else
                {
                    <partial name="_AdminNotFound" />
                }
            </div>
        </div>
    </div>
</div>

